:root {
    font-size: 20px;
}

h1 {
    color: red;
    font-size: 2.5rem;
}

p {
    color: green;
    font-weight: bold;
    border: 1px solid blue;
    padding: 1px 2px 4px 8px;
}

#chosen {
    background-color: brown;
}

.new {
    background-color: grey;
}

div > p {
    text-transform: uppercase;
}

p:hover{
    transform: rotate(180deg)
}

p::first-letter{
    font-size: 3rem;
}

